.sidenav01 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(16, 236, 188);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav01 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #42cf0a;
  display: block;
  transition: 0.3s;
}
.sidenav01 a:hover {
  color: #f1f1f1;
}
.sidenav01 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
