{% include header-custom.html %}
{% include hero.html classes='u-bg-gray-30 u-pt-16 u-pb-10' %}
<div id="mySidepanel" class="sidepanel">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>
<div class="o-container">
	<div class="o-row">
		{% if page.content %}
			<div class="o-col-8@lg o-col-7@xl">
				<div class="c-post u-mb-3@lg js-post">
					{{ content }}
					{% include comments.html classes='u-mt-8 u-mb-3' %}
				</div><!-- /.c-post -->
			</div><!-- /.o-col -->
		{% endif %}
		{% if page.documentation %}
			<div class="o-col-3@lg o-offset-1@lg o-offset-2@xl">
				<ul class="c-page-nav u-sticky u-pin-t-6 u-mt-4 u-mt-1@lg u-mb-1 u-mb-4@lg">
					{% for item in page.documentation %}
						<li>
							<a href="#{{ item.url }}">
								<p class="c-page-nav__heading">{{item.title}}</p>
							</a>
						</li>
					{% endfor %}
				</ul><!-- /.c-page-nav -->
			</div><!-- /.o-col -->
			{% endif %}
	</div><!-- /.o-row -->
	</div><!-- /.o-container -->
{% include footer.html %}
<script>
	function openNav() {
		document.getElementById("mySidepanel").style.width = "250px";
	}
	
	function closeNav() {
		document.getElementById("mySidepanel").style.width = "0";
	}
	</script>



