<!DOCTYPE html>

<html lang="en-us">
{% include head.html %}
	<body>
			{% include menu.html %}
		<nav class="navbar navbar-light bg-light">
			<span onclick="openNav()">&#9776;</span>
		</nav>
		<ol class="breadcrumb" style="background-color: transparent;">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Library</li>
		</ol>
		<div class="container-fluid">
			<div class="row" style="background-color: #F7F7F7;">
				<div class="col-9">
						<div class="row">
							<h1>Proyecto 1</h1>
						</div>
					<div class="row">
						<h2>Objetivos</h2>
					</div>
					<div class="row">
						<ol>
							<li>Ejemplo 1</li>
							<li>Ejemplo 2</li>
						</ol>
					</div>
					<div class="row">
						<h4>Contenido 1</h4>
					</div>
					<div class="row">
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, curabitur nam massa nisl cras dictumst praesent accumsan, dui nunc vel facilisi quam turpis ante, eget felis lacus sociosqu eleifend malesuada. Parturient volutpat rutrum primis morbi nisl semper nascetur nisi id, dapibus tincidunt fames facilisi conubia lacinia accumsan ligula malesuada, facilisis torquent luctus non mi per orci vulputate. Vestibulum primis elementum dignissim nisi faucibus dictum suscipit quis facilisi, arcu cursus sodales netus hac hendrerit sociosqu tincidunt fusce, imperdiet lacinia at aliquam lectus parturient metus tellus.</p>
					</div>
					<div class="row">
							<h3>Contenido 1</h3>
						</div>
						<div class="row">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, curabitur nam massa nisl cras dictumst praesent accumsan, dui nunc vel facilisi quam turpis ante, eget felis lacus sociosqu eleifend malesuada. Parturient volutpat rutrum primis morbi nisl semper nascetur nisi id, dapibus tincidunt fames facilisi conubia lacinia accumsan ligula malesuada, facilisis torquent luctus non mi per orci vulputate. Vestibulum primis elementum dignissim nisi faucibus dictum suscipit quis facilisi, arcu cursus sodales netus hac hendrerit sociosqu tincidunt fusce, imperdiet lacinia at aliquam lectus parturient metus tellus.</p>
						</div>
						<div class="row">
								<h3>Contenido 1</h3>
							</div>
							<div class="row">
								<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, curabitur nam massa nisl cras dictumst praesent accumsan, dui nunc vel facilisi quam turpis ante, eget felis lacus sociosqu eleifend malesuada. Parturient volutpat rutrum primis morbi nisl semper nascetur nisi id, dapibus tincidunt fames facilisi conubia lacinia accumsan ligula malesuada, facilisis torquent luctus non mi per orci vulputate. Vestibulum primis elementum dignissim nisi faucibus dictum suscipit quis facilisi, arcu cursus sodales netus hac hendrerit sociosqu tincidunt fusce, imperdiet lacinia at aliquam lectus parturient metus tellus.</p>
							</div>
							<div class="row">
									<h3>Contenido 1</h3>
								</div>
								<div class="row">
									<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, curabitur nam massa nisl cras dictumst praesent accumsan, dui nunc vel facilisi quam turpis ante, eget felis lacus sociosqu eleifend malesuada. Parturient volutpat rutrum primis morbi nisl semper nascetur nisi id, dapibus tincidunt fames facilisi conubia lacinia accumsan ligula malesuada, facilisis torquent luctus non mi per orci vulputate. Vestibulum primis elementum dignissim nisi faucibus dictum suscipit quis facilisi, arcu cursus sodales netus hac hendrerit sociosqu tincidunt fusce, imperdiet lacinia at aliquam lectus parturient metus tellus.</p>
								</div>
				</div>
				<div class="col-3" style="padding-left: 30px;">
						<div class="row">
								<h4>Índice</h4>
							</div>
							<div class="row">
								<ul class="list-group">
									<li class="list-group-item">Cras justo odio</li>
									<li class="list-group-item">Dapibus ac facilisis in</li>
									<li class="list-group-item">Morbi leo risus</li>
									<li class="list-group-item">Porta ac consectetur ac</li>
									<li class="list-group-item">Vestibulum at eros</li>
								</ul>
							</div>
				</div>
			</div>
		</div>
		<script>
				/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
				function openNav() {
					document.getElementById("mySidebar").style.width = "250px";
					document.getElementById("main").style.marginLeft = "250px";
				}
				/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
				function closeNav() {
					document.getElementById("mySidebar").style.width = "0";
					document.getElementById("main").style.marginLeft = "0";
				}
			</script>
	</body>
</html>