<!DOCTYPE html>

<html lang="en-us">
	{% include head.html %}
	<body>
		<div class="container-fluid">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-2">
					<img src="../assets/images/international-154119_1280.png" class="rounded float-left" alt="...">
				</div>
				<div class="col-6">
					<div class="row">
						<h5>Proyecto</h5>
					</div>
					<div class="row">
						<h3>Plataforma de SalesForce Telepizza</h3>
					</div>
					<div class="row">
						<h5>Desarrollado por Vector ITC Group</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12" style="background: #F1F1F1; padding:20px;">
						<div class="row">
							<h3>Índice</h3>
						</div>
						<div class="row">
							<div class="col-11">
								<h5>Paso 1</h5>
							</div>
							<div class="col-1">
								<i class='fas fa-arrow-alt-circle-right' style="font-size: 24px;color: lightseagreen;"></i>
							</div>
							<div class="col-11">
								<p>Descripcion paso 1</p>
							</div>
						</div>
						<hr>
						<div class="row">
								<div class="col-11">
									<h5>Paso 1</h5>
								</div>
								<div class="col-1">
									<i class='fas fa-arrow-alt-circle-right' style="font-size: 24px;color: lightseagreen;"></i>
								</div>
								<div class="col-11">
									<p>Descripcion paso 1</p>
								</div>
							</div>
							<hr>
						<div class="row">
								<div class="col-11">
									<h5>Paso 1</h5>
								</div>
								<div class="col-1">
									<i class='fas fa-arrow-alt-circle-right' style="font-size: 24px;color: lightseagreen;"></i>
								</div>
								<div class="col-11">
									<p>Descripcion paso 1</p>
								</div>
							</div>
				</div>
			</div>
		</div>
	</body>
</html>